@import '../../Utils/variables';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto 48px;
  width: 1200px;

  &__title {
    margin-bottom: 24px;
    color: $color-mainViolet;
    font-size: 48px;
  }
}

.buttons {
  display: flex;
  margin-bottom: 24px;

  &__button {
    padding: 8px 12px;
    cursor: pointer;
    font-family: Geometria;
    color: $color-mainViolet;
    background-color: $color-white;
    border: 2px solid $color-mainViolet;

    transition: 0.3s;
  }

  &__button-l {
    border-radius: 0 5px 4px 0;
  }

  &__button-r {
    border-radius: 5px 0px 0 5px;
  }

  &__button--active {
    color: $color-white;
    background-color: $color-mainViolet;
  }
}

.input {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
  width: 940px;
  color: $color-grey;

  &__button {
    width: 240px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: $color-white;
    border: 1px solid #ffffff00;
    border-radius: 6px;
    background: linear-gradient(90deg,#d14959,#b55271 51%,#8c699d);
    box-shadow: 1px 1px 20px 3px rgba(250,25,25,0.75);
    -webkit-box-shadow: 1px 1px 20px -2px rgba(250,25,25,0.75);
    -moz-box-shadow: 1px 1px 20px 3px rgba(250,25,25,0.75);

    transition: transform 0.3s;
  }

  &__button:hover {
    transform: scale(110%);
  }
}

.section {
  width: 372px;

  &__p {
    margin-bottom: 2px;
    font-size: 12px;
  }

  &__container{
    display: flex;
    justify-content: space-between;
  }

  &__container-individ {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    margin-bottom: 24px;
    font-size: 15px;
  }

  &__input {
    height: 28px;
    background-color: $color-whiteInput;
    border: 1px solid $color-whiteInput;
    border-radius: 3px;
    outline: none;
  }
}