@font-face {
  font-family: "Geometria";
  src: url(../Fonts/Geometria.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Geometria";
  src: url(../Fonts/Geometria-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Geometria";
  src: url(../Fonts/Geometria-Bold.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Geometria";
  src: url(../Fonts/Geometria-ExtraBold.ttf);
  font-weight: 500;
}