.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 48px;
  width: 1200px;

  color: #343d5b;

  &__title {
    margin-bottom: 8px;
    font-size: 60px;
  }

  &__p {
    margin-bottom: 36px;
    font-weight: 300;
    font-size: 16px;
  }

  &__type {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    width: 940px;
  }

  &__container {
    display: flex;
    column-gap: 18px;
    cursor: pointer;
    color: #dbdddd;

    transition: all 0.3s;
  }

  &__container:hover {
    transform: scale(110%);
  }

  &__type-icon {
    width: 64px;
    height: 64px;
    border: 2px solid #e5eaec;
    border-radius: 10px;

    &--do {
      background-image: url(../../Img/01-do.png);
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--financial {
      background-image: url(../../Img/02-financial.png);
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--material {
      background-image: url(../../Img/03-material.png);
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--heart {
      background-image: url(../../Img/04-heart.png);
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__type-icon--active {
    background-color: #8e6591cb;
    border: 1px solid #ffffff00;
  }

  &__type-name {
    display: flex;
    align-items: center;
    width: 98px;
    height: 64px;
    font-size: 14px;
    font-weight: 500;
  }

  &__type-name--active {
    color: #343d5b;
  }

  &__input {
    margin-bottom: 48px;
    width: 940px;
    height: 200px;
    border: 1px solid #9a9a9c;
    border-radius: 6px;
  }

  &__button {
    width: 240px;
    height: 60px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #ffffff00;
    border-radius: 6px;
    background: linear-gradient(90deg,#d14959,#b55271 51%,#8c699d);
    box-shadow: 1px 1px 20px 3px rgba(250,25,25,0.75);
    -webkit-box-shadow: 1px 1px 20px -2px rgba(250,25,25,0.75);
    -moz-box-shadow: 1px 1px 20px 3px rgba(250,25,25,0.75);

    transition: all 0.3s;
  }

  &__button:hover {
    transform: scale(110%);
  }
}
